@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    background: var(--SilverCloud, #F5F5F5);
    --radius: 0.5rem;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
  }
}